@media only screen and (max-width: 576px) {
  body {
    header {
      img {
        width: 10%;
        position: fixed;
        top: 20px;
      }
      button {
        margin-left: 40%;
      }
    }
    main {
      .introduction {
        overflow: hidden;
        h2 {
          font-size: 4rem;
        }
      }
      .middle {
        div {
          padding-top: 10vh;
          margin-left: 20px;
          width: 90%;
          text-align: center;
          p {
            &:first-of-type {
              margin-bottom: 20px;
            }
          }
        }
        .grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          margin-top: -100px;
          img {
            position: static;
            &:nth-of-type(1) {
              width: 100%;
            }
            &:nth-of-type(2) {
              width: 100%;
            }
            &:nth-of-type(3) {
              width: 100%;
            }
            &:nth-of-type(4) {
              width: 100%;
            }
            &:nth-of-type(5) {
              width: 100%;
            }
            &:nth-of-type(6) {
              width: 100%;
              margin-bottom: 50px;
            }
            &:nth-of-type(7) {
              display: none;
            }
          }
        }
      }
      .golden-bear {
        div {
          flex-direction: column;
        }
        .animation {
          height: 30vh;
          .animation-circle {
            height: 30vh;
          }
        }
      }
      .poppy-bear {
        div {
          flex-direction: column;
        }
      }
    }
    footer {
      height: auto;
      section {
        position: relative;
        margin-left: 0px;
        div {
          width: 100%;
          padding: 10%;
        }
        .banner {
          position: sticky;
          top: 0;
          transform: rotate(0deg);
          overflow: hidden;
          height: 200px;
          p {
            width: 100vw;
            text-align: center;
          }
        }
      }
      article {
        display: flex;
        flex-direction: column;
      }
    }
  }
  @keyframes banner {
    0%,
    100% {
      transform: translateX(-30%);
    }

    50% {
      transform: translateX(10%);
    }
  }
}
